<!DOCTYPE html>
<html>
  <head>
    <title>dvd</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>dvd情報</h1>
    <div role ="main">
      <table>     
        <tr>
          <th>タイトル</th>
          <th>ジャンル</th>
          <th>監督</th>
          <th>日程</th>
          <th>価格</th>
        </tr>
        <% for(var i in data.content) { %>
        <tr>
          <% var obj = data.content[i]; %>
          <td><%= obj.title %></td>
          <td><%= obj.genre %></td>
          <td><%= obj.director %></td>
          <td><%= obj.date%></td>              
          <td><%= obj.price + '円' %></td> 
          </tr>
        <% } %>
       
      </table>
    </div>
  </body>
</html>